html {
  scroll-behavior: smooth;
  background-color: black;
  overflow-x: hidden;
}

body{
  /* font-family: 'Glass Antiqua', cursive; */
  /* font-family: 'Lato', sans-serif; */
  font-family: 'M PLUS Rounded 1c', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}


div {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  overflow-x: hidden; 
}

div::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

html:focus-within {
  scroll-behavior: smooth;
}

.main_font {
  /* font-family: "Zen Kurenaido", sans-serif; */
  /* font-family: 'Glass Antiqua', cursive; */
  /* font-family: 'Lato', sans-serif; */
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.title_font{
  font-family: "Bangers", cursive;
}

.mono_font {
  font-family: "Inconsolata", monospace;
}

.logo_font {
  /* font-family: 'Luckiest Guy', cursive; */
  /* font-family: 'Righteous', cursive; */
  /* font-family: 'Oswald', sans-serif; */
  /* font-family: "Bangers", cursive; */
  font-family: "Comforter", cursive;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 1000px;
  min-height: 1500px;
  z-index: -1;
  filter: brightness(50%);
  overflow-x: hidden; 
}


@media only screen 
  and (max-device-width: 450px) { 
  video {
    /* transform-origin: 0 0; */
    /* transform: translateX(-40%); */
    transform: translateY(-20%);
}

}

.roadmap_gif{
  position: fixed;
  top: 0px;
  z-index: -1;
  /* filter: brightness(80%); */
  transition: opacity 0.1s;
}

.roadmap_gif_xs{
  z-index: -1;
  /* filter: brightness(80%); */
  transition: opacity 0.1s;
}

.roadmap_gif_nfx{
  left: 0px;
  top: 0px;
  z-index: -1;
  /* filter: brightness(80%); */
  transition: opacity 0.1s;
}

.gray-image {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.gray-image:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.logo_title {
  font-family: "Zen Kurenaido", sans-serif;
  -webkit-background-clip: text;
  background-clip: text;
  background-position: center;
  /* background-image: url("./static/galaxy-4.jpg"); */
  color: white;
}

.logo_subtitle {
  font-family: "Comforter", cursive;
}
